$secondary-color: #fdd835;
$red-color: #f44336;
$gray-color: #e8e8e8;

/* NOTE
html is set to 62.5% so that all the REM measurements
are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 62.5%;
  overflow-x: hidden;
}
html, body {
  max-width: 768px;
  margin: 0 auto;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
img {
  max-width: none;
  display: block;
  width: 100%;
  vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}

body {
  font-size: 1.5em;
  line-height: 1.8;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  color: #666;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.870);
  box-sizing: border-box;
  display: block;
  font-weight: 300;
  line-height: 36px;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
h1 { font-size: 2.4rem; line-height: 3rem; }
h2 { font-size: 2.2rem; line-height: 3rem; }
h3 { font-size: 2rem; line-height: 2.2rem; }
h4 { font-size: 1.8rem; line-height: 2.2rem; }
h5 { font-size: 1.6rem; line-height: 2rem; }
h6 { font-size: 1.4rem; line-height: 2rem; }

p { margin-top: 0; }

a { color: inherit; }
a:hover { opacity: 0.95; }

.link, a,
.link, a:link,
.link, a:hover,
.link, a:active,
.link, a:focus {
    outline: 0;
    text-decoration: none;
    color: $secondary-color;
}
body,
input,
textarea,
button,
select,
label,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

blockquote {
  background: #f9f9f9;
  padding: 20px;
}

// .main {
//   background: #8a43a3;
//   background: -webkit-linear-gradient(#8a43a3, #5c6bac);
//   background: -o-linear-gradient(#8a43a3, #5c6bac);
//   background: -moz-linear-gradient(#8a43a3, #5c6bac);
//   background: linear-gradient(#8a43a3, #5c6bac);
//   padding-top: 0;
//   height: 100vh;
// }
.main {
  background: #f9f9f9;
  padding-top: 0;
  height: 100vh;
}

.container {
  margin: 2rem;
}

.home-container {
  margin: 0 2rem 2rem 2rem;
  padding: 3rem 0 0 0;
}

.pg-divider {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.pg-flex-baseline {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.pg-flex-end {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.pg-alert {
  background-color: $red-color;
  padding: 1rem;
  color: white;
  border-radius: 0.4rem;
}

.poll-question {
  font-family: 'Crete Round', serif;
  font-weight: 300;
  font-size: 6rem;
  line-height: 8rem;
  text-align: center;
  display: inline-block;
  font-stretch: normal;
  font-style: normal;
}

.poll-response {
  font-weight: 300;
  font-size: 3rem;
}

.poll-badge {
  float: right;
  text-align: right;
}

.poll-container {
  background-color: $gray-color;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  height: 7rem;
  padding-left: 2rem;
}

.poll-vote-count {
  background-color: #a4c639;
  text-align: center;
  padding: 0.8rem;
  border-radius: 0.4rem;
  color: white;
  float: right;
  margin-right: 1rem;
  width: 12rem;
}

.poll-vote-count-label {
  font-size: 3rem;
  font-weight: 400;
}
